$_128px: 8rem;
$_96px: 6rem;
$_64px: 4rem;
$_48px: 3rem; 
$_40px: 2.5rem;
$_36px: 2.25rem;
$_32px: 2rem;
$_30px: 1.875rem;
$_26px: 1.625rem;
$_24px: 1.5rem;
$_21px: 1.3125rem;
$_18px: 1.125rem;
$_14px: 0.875rem;
$_13px: 0.8125rem;
