.footer {
    background-color: #FF6624;

    .footer-wrapper {
        width: 1637px;
        margin: auto;
        position: relative;
        display: flex;
        justify-content: space-between;

        @media (max-width: 1800px) {                
            width: 1490px;
        }

        .footer-logo {
            position: absolute;
            left: 140px;
            top: 160px;

            img {
                position: absolute;
                top: -135px;
                left: -105px;

                @media (max-width: 1800px) {
                    width: 200px;
                    top: -100px;
                    left: -80px;
                }
            }

            p {
                font-family: "Playfair Display", serif;
                font-size: $_128px;
                font-weight: 500;
                color: #AB0505;

                @media (max-width: 1800px) {
                    font-size: $_96px;
                }
            }
        }
        
        .footer-info__wrapper {
            margin: 320px 0 0 150px;

            .footer-desc {
                width: 523px;
                margin-bottom: 56px;
                
                p {
                    font-family: "Playfair Display", serif;
                    font-size: $_36px;
                    color: #FFFFFF;

                    @media (max-width: 1800px) {
                        font-size: $_30px;
                    }
                }
            
            }
            .footer-follow__wrapper {
                margin-bottom: 138px;

                .footer-follow-title {
                    font-size: $_40px;
                    font-weight: 500;
                    color: #FFFFFF;
                    margin-bottom: 28px;

                    @media (max-width: 1800px) {
                        font-size: $_32px;
                    }
                }
            
                .footer-follow__link {
                    width: 238px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;

                    img {
                        transition: 0.3s;
                        &:hover {
                            scale: 1.05;
                        }                        
                    }
                }
            }
            
        }
        
        .footer-navigation {
            margin-top: 320px;

            @media (max-width: 1800px) {                
                width: 200px;
            }
        
            .footer-navigation__list {

                .footer-navigation-item {
                    margin-bottom: 14px;

                    &:first-child {
                        a {
                            font-weight: 700;
                            color: #FFFFFF;
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                
                    .footer-navigation__link {
                        font-size: $_36px;
                        font-weight: 500;
                        color: #F3EBE7;
                        transition: 0.3s;

                        &:hover {
                            color: #FFFFFF;
                        }

                        @media (max-width: 1800px) {
                            font-size: $_30px;
                        }
                    }
                }
                
            }
            
        }
        
        .footer-form-wrapper {
            margin-top: 300px;
            display: flex;
            flex-direction: column;

            form {
                margin-bottom: 60px;
            }
        
            .footer-form-title {
                font-size: $_40px;
                font-weight: 700;
                color: #FFFFFF;
                margin-bottom: 10px;

                @media (max-width: 1800px) {
                    font-size: $_30px;
                    width: 460px;
                }
            }

            .footer-form-input {
                border: 3px solid #FFFFFF;
                background-color: #FF6624;
                width: 460px;
                height: 62px;
                border-radius: 5px;
                display: block;
                margin-bottom: 45px;
                outline: none;
                padding: 10px;
                font-size: $_21px;
                color: #FFFFFF;

                @media (max-width: 1800px) {
                    width: 360px;
                    height: 52px;
                    margin-bottom: 38px;
                }
            }

            .footer-form-send {
                display: block;
                width: 138px;
                height: 59px;
                border: none;
                border-radius: 10px;
                background-color: #FFFFFF;
                color: #FF6624;
                font-size: $_36px;
                font-weight: 700;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    background-color: #ab0505;
                    color: #FFFFFF;
                }

                @media (max-width: 1800px) {
                    width: 118px;
                    height: 49px;
                    font-size: $_26px;
                }
            }
        }
        
        
        .footer-payment-option {
            display: flex;
            align-items: center;
            width: 368px;
            justify-content: space-between;

            @media (max-width: 1800px) {
                width: 300px;
            }
        }
    }
    
}